services:
  dmss:
    build:
      context: .
    image: datamodelingtool.azurecr.io/dmss:latest
    restart: unless-stopped
    environment:
      ENVIRONMENT: azure
      REDIS_PASSWORD: maf
      AUTH_ENABLED: "True"
      SECRET_KEY: ${SECRET_KEY}
      AUTH_PROVIDER_FOR_ROLE_CHECK: AAD
    depends_on:
      - db
      - redis
  db:
    image: mongo:5.0.9
    command: mongod --quiet
    environment:
      MONGO_INITDB_ROOT_USERNAME: maf
      MONGO_INITDB_ROOT_PASSWORD: maf

  redis:
    image: bitnami/redis:latest
    environment:
      REDIS_PASSWORD: maf
    ports:
      - '6379:6379'
      - '8001:8001'


# Redis will need write permission on this folder to be able to start (UID 1001)
#    volumes:
#     - ./data/redis:/bitnami
