version: "3.8"

services:
  dmss:
    build:
      target: development
    image: dmss-dev
    volumes:
      - ./src:/code
      - ./.behaverc:/code/.behaverc
    environment:
      ENVIRONMENT: local
      LOGGING_LEVEL: debug
      MONGO_AZURE_URI: ${MONGO_AZURE_URI}
      AUTH_ENABLED: "False"
      #AUTH_ENABLED: "True"
      #todo probably dont need to specify token and auth endpoint since they exist in well_known
      OAUTH_TOKEN_ENDPOINT: https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/oauth2/v2.0/token #http://localhost:8080/auth/realms/dmss/protocol/openid-connect/token
      OAUTH_AUTH_ENDPOINT: https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/oauth2/v2.0/authorize # http://localhost:8080/auth/realms/dmss/protocol/openid-connect/auth
      OAUTH_WELL_KNOWN: https://login.microsoftonline.com/3aa4a235-b6e2-48d5-9195-7fcf05b459b0/v2.0/.well-known/openid-configuration # http://localhost:8080/auth/realms/dmss/.well-known/openid-configuration
      OAUTH_AUDIENCE: api://ee7dbf49-e358-4c9c-a7e4-fb6d56c02205 #if using azure ad, audience is the azure client id
    ports:
      - "8000:5000"

#  keycloak:
#    image: quay.io/keycloak/keycloak:15.0.1
#    ports:
#      - "8080:8080"
#    environment:
#      KEYCLOAK_USER: admin
#      KEYCLOAK_PASSWORD: admin

  db:
    image: mongo:3.4
    command: --quiet
    environment:
      MONGO_INITDB_ROOT_USERNAME: maf
      MONGO_INITDB_ROOT_PASSWORD: maf
    volumes:
      - ./data/db:/data/db


  db-ui:
    image: mongo-express:0.49
    restart: unless-stopped
    ports:
      - "8082:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: db
      ME_CONFIG_MONGODB_ADMINUSERNAME: maf
      ME_CONFIG_MONGODB_ADMINPASSWORD: maf
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
