[tool.poetry]
name = "api"
version = "0.1.0"
description = "API for data-modelling-tool"
authors = ["Stig Ofstad <stoo@equinor.com>","Christoffer","Eirik"]
license = "TBD"

[tool.poetry.dependencies]
python = "3.8.*"
flask = "^1.0"
werkzeug = "^0.15.4"
pymongo = "^3.8"
jsonschema = "^3.0"
stringcase = "^1.2"
python-dotenv = "^0.10.3"
jinja2 = "^2.11.1"
wasmer = "0.3.0"
toml = "0.10.0"
connexion = "^2.6.0"

[tool.poetry.dev-dependencies]
pydevd = "^1.6"
pytest = "^5.1"
behave = "1.2.6"
colorclass = "1.0.1"
terminaltables = "3.1.0"
snapshottest = "0.5.1"
deepdiff = "4.0.7"
pre-commit = "^1.18"
pygments = "2.4.1"
flask_testing = "0.8.0"
safety = "^1.8.7"
black = "^19.10b0"

[tool.black]
line-length = 119
target-version = ['py38']

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
