[tool.poetry]
name = "Data Modeling Storage Service"
version = "1.6.5" # x-release-please-version
description = "A model based storage service"
authors = ["Stig Ofstad <stoo@equinor.com>","Christoffer","Eirik"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.12"
pymongo = "3.12.3" # Newer versions is not compatible with MongoDB > 3.6
azure-storage-blob = "^12.12.0"
fastapi = "^0.78.0"
python-multipart = "^0.0.5"
uvicorn = "^0.23.2"
click = ">8.0.0"
aiofiles = "^0.7.0"
python-jose = "^3.3.0"
cachetools = "^5.2.0"
requests = "^2.31.0"
gunicorn = "^20.1.0"
cryptography = "^41.0.5"
cffi = "^1.16.0"

[tool.poetry.group.dev.dependencies]
pydevd = "^2.8.0"
behave = "^1.2.6"
terminaltables = "^3.1.10"
deepdiff = "^5.8.1"
pygments = "^2.12.0"
pytest = "^7.1.2"
dictdiffer = "^0.9.0"

[tool.pytest]
addopts = ["--ignore gen"]

[tool.pytest.ini_options]
pythonpath = [
  "./src"
]

[tool.ruff]

src = ["src"]
target-version = "py311"
line-length = 120

select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
    "S",  # Bandit
    "C",  # flake8-comprehensions
    "B",  # flake8-bugbear
    "UP", # automatically upgrade syntax for newer versions of the language
    "RUF", # ruff specific rules
]

ignore = [
    "W191", # conflict with ruff formatter
    "E501",  # line too long, handled by black,
    "B008",  # do not perform function calls in argument defaults
    "C901",  # Code complexity
    "RUF012", # Pydantic class variables
    "S101",  # Use of "assert"
]

[tool.mypy]
ignore_missing_imports = true
warn_return_any = false
warn_unused_configs = true
namespace_packages = true
explicit_package_bases = true
no_implicit_optional = false
check_untyped_defs = true
allow_redefinition = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
