[tool.poetry]
name = "api"
version = "0.1.0"
description = "API for data-modelling-tool"
authors = ["Stig Ofstad <stoo@equinor.com>","Christoffer","Eirik"]
license = "TBD"

[tool.poetry.dependencies]
python = "3.9.*"
pymongo = "^3.8"
jsonschema = "^3.0"
stringcase = "^1.2"
python-dotenv = "^0.10.3"
jinja2 = "^2.11.1"
wasmer = "0.3.0"
toml = "0.10.0"
azure-storage-blob = "2.1.0"
fastapi = "^0.65.1"
python-multipart = "^0.0.5"
uvicorn = "^0.13.4"
click = "^7.1.2"
aiofiles = "^0.7.0"
python-jose = {extras = ["cryptography"], version = "^3.3.0"}
cachetools = "^4.2.2"
requests = "^2.26.0"

[tool.poetry.dev-dependencies]
pydevd = "^1.6"
behave = "1.2.6"
colorclass = "1.0.1"
terminaltables = "3.1.0"
snapshottest = "0.5.1"
deepdiff = "4.0.7"
pre-commit = "^1.18"
pygments = "2.4.1"
safety = "^1.8.7"
black = "^19.10b0"
flake8 = "^3.8.2"
bandit = "^1.6.2"
pytest = "^6.2.3"
dictdiffer = "^0.8.1"

[tool.pytest]
addopts = ["--ignore gen"]

[tool.black]
line-length = 119
target-version = ['py38']
exclude = '''
/(
    \.git
  | \.venv
  | \gen
)/
'''

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
