on:
  workflow_dispatch:
  workflow_call:

jobs:
  checking:
    name: Run checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: "Dev image"
        run: docker build -t devimage --target development .
      - name: "Bandit"
        run: docker run devimage bandit --recursive --exclude "./.venv,./src/tests/*" .
      - name: "Black"
        run: docker run devimage black --check --diff .
      - name: "Flake8"
        run: docker run devimage flake8
      - name: "Generate API"
        run: docker run -d -p "8000:5000" devimage && ./generate-python-package.sh
