name: Publish DMSS API to docker registry

on:
  push:
    branches:
      - "master"
    tags:
      - "v**"


env:
  DOCKER_IMAGE: datamodelingtool.azurecr.io/dmss
  IMAGE_REGISTRY: datamodelingtool.azurecr.io
  REGISTRY_USER: datamodelingtool

jobs:
  build-n-publish:
    name: Build and deploy
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@master
      - name: "Write version file"
        run: echo $(git log -n 1 --format=format:'%C(yellow)%h% %C(blue)%>(12) %cs %C(green)%>(12,mtrunc)%aN%C(auto,reset)  %s%C(auto) %D') > src/version.txt
      - name: "Build Docker image"
        run: docker build --tag ${DOCKER_IMAGE}:latest .
      - name: "Docker Login"
        if: "'refs/heads/master' == github.ref || startsWith(github.ref, 'refs/tags/')"
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login ${{ env.IMAGE_REGISTRY }} --password-stdin --username ${{ env.REGISTRY_USER }}
      - name: "Push Docker image (latest)"
        if: "'refs/heads/master' == github.ref || startsWith(github.ref, 'refs/tags/')"
        run: docker push ${DOCKER_IMAGE}:latest
      - name: "Determine tag"
        if: "startsWith(github.ref, 'refs/tags/')"
        id: "determine-tag"
        run: "echo \"::set-output name=tag::${GITHUB_REF#refs/tags/}\""
      - name: "Tag Docker image (versioned)"
        if: "startsWith(github.ref, 'refs/tags/')"
        run: docker tag ${{ env.DOCKER_IMAGE }} ${{ env.DOCKER_IMAGE }}:${{ steps.determine-tag.outputs.tag }}
      - name: "Push Docker image (versioned)"
        if: "startsWith(github.ref, 'refs/tags/')"
        run: docker push ${{ env.DOCKER_IMAGE }}:${{ steps.determine-tag.outputs.tag }}
      - name: "Docker Logout"
        if: "'refs/heads/master' == github.ref || startsWith(github.ref, 'refs/tags/')"
        run: docker logout

  store-images-as-artifacts:
    needs: build-n-publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: pull latest DMSS image
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login ${{ env.IMAGE_REGISTRY }} --password-stdin --username ${{ env.REGISTRY_USER }}
          docker pull $DOCKER_IMAGE:latest
      
      - name: save docker images
        run: |
          docker save $DOCKER_IMAGE:latest > DMSS_IMAGES.tar
          ls -sh DMSS_IMAGES.tar
      - name: upload images as artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dmss-artifact
          path: DMSS_IMAGES.tar