name: Publish DMSS API to docker registry

on:
  push:
    branches:
      - master
    tags:
      - "**"

jobs:
  build-n-publish:
    name: Build and deploy
    runs-on: ubuntu-18.04

    env:
      DOCKER_IMAGE: mariner.azurecr.io/dmss

    steps:
      - uses: actions/checkout@master
      # Build the container image as latest
      - name: "Build Docker image"
        run: $(which docker) build --tag ${DOCKER_IMAGE}:latest .
      # Log into container registry
      - name: "Docker Login"
        if: "'refs/heads/master' == github.ref || startsWith(github.ref, 'refs/tags/')"
        run: echo ${{ secrets.DOCKER_PASSWORD }} | $(which docker) login --password-stdin --username ${{ secrets.DOCKER_USERNAME }}
      # Push the container image to the container repository
      - name: "Push Docker image (latest)"
        if: "'refs/heads/master' == github.ref || startsWith(github.ref, 'refs/tags/')"
        run: $(which docker) push ${DOCKER_IMAGE}:latest
      # Logout Docker registry
      - name: "Docker Logout"
        if: "'refs/heads/master' == github.ref || startsWith(github.ref, 'refs/tags/')"
        run: $(which docker) logout
